<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="bg-light py-5 mb-4">
    <div class="container-fluid">
      <h1 class="display-4">Articles</h1>
      <p class="lead">Click on an article to read more or create a new one.</p>
      <hr class="my-4">
      <p class="lead">Our blog has <%= Article.public_count %> articles and counting!</p>
      <p>
        <%= link_to "Create a New Article", new_article_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
  <!-- Display articles in a grid layout -->
  <div class="row">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <div class="col-md-4 mb-4">
          <!-- Cards with a equal height -->
          <div class="card d-flex flex-column h-100 article-card">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">
                <%= content_tag :span, article.title, class: "text-decoration-none" %>
                <!-- Category top right of the card -->
                <% if article.category %>
                  <%= content_tag :span, article.category.name, class: "float-end text-muted small" %>
                <% end %>
              </h5>
              <% if article.author %>
                <p class="card-text">
                  <span>
                    <i class="fas fa-user text-primary"></i> 
                    <%= article.author.name %>
                  </span>
                  <br>
                  <span>
                    <i class="fas fa-calendar-alt text-success"></i>
                    <%= article.created_at.strftime("%B %d, %Y") %> 
                  </span>
                </p>
              <% end %>
              <!-- Read more button positioned at the bottom -->
              <div class="mt-auto">
                <%= link_to "Read More", article_path(article), class: "btn btn-light" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
