<div class="container">
<p style="color: green"><%= notice %></p>
  <div class="bg-light py-5 mb-4">
    <div class="container-fluid">
      <h1 class="display-4">Authors</h1>
      <p class="lead">Click on an author to read more about them or create a new one.</p>
      <hr class="my-4">
      <p class="lead">Our blog has <%= @authors.count %> authors and counting!</p>
      <p>
        <%= link_to "Create a New Author", new_author_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>

  <!-- Display authors in a grid layout -->
  <div class="row">
  <% @authors.each do |author| %>
    <div class="col-md-4 mb-4">
      <!-- Card with fixed width and responsive design -->
      <div class="card h-100 d-flex flex-column author-card">
        <div class="row g-0 h-100">
          <div class="col-md-4">
          <div class="author-img-container">
          <% if author.image.attached? %>
            <%= image_tag author.image, alt: author.name, class: "img-fluid author-img" %>
          <% end %>
        </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <!-- Link to author show page -->
                <%= link_to author.name, author_path(author), class: "text-decoration-none" %>
              </h5>
              <p class="card-text"><%= truncate(author.bio, length: 100) %></p>
              <div class="mt-auto">
                <%= link_to "Read more", author_path(author), class: "btn btn-light" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

