
  <div class="card mb-3">
    <div class="card-body">
      <!-- Commenter Name -->
      <h5 class="card-title">
        <%= comment.commenter %>
        <i class="fas fa-clock fa-xs text-muted"></i> 
        <!-- Display comment creation time -->
        <small class="text-muted ml-1">
          <%= time_ago_in_words(comment.created_at) %> ago
        </small>
      </h5>

      <!-- Comment Body -->
      <p class="card-text">
        <%= comment.body %>
      </p>

      <!-- Button Container -->
      <div class="button-container d-flex align-items-center">
        <!-- Delete Button -->
        <%= button_to "Delete", article_comment_path(@article, comment), method: :delete, class: "btn btn-danger btn-sm me-2" %>
 
        <% if user_signed_in? %>
  <% like = current_user.likes.find_by(comment: comment) %>
  
  <% if like %>
    <!-- Unlike button -->
    <%= button_to "Unlike", article_comment_like_path(@article, comment, like), method: :delete, class: "btn btn-primary btn-sm me-1" %>
  <% else %>
    <!-- Like button -->
    <%= button_to article_comment_likes_path(@article, comment), params: { like: { comment_id: comment.id } }, method: :post, class: "btn btn-primary btn-sm me-1" do %>
      Like <i class="fa-regular fa-thumbs-up"></i> 
    <% end %>   
  <% end %>

<% else %>
  <!-- Like button for users not signed in -->
  <%= button_to article_comment_likes_path(@article, comment), params: { like: { comment_id: comment.id } }, method: :post, class: "btn btn-primary btn-sm me-1", data: { toggle: "modal", target: "#loginModal" } do %>
    Like <i class="fa-regular fa-thumbs-up"></i> 
  <% end %>
  
<% end %>

<!-- Display like count with singular/plural -->
<%= pluralize(comment.likes.count, "Like") %>

      </div>
    </div>
  </div>

