
<%= form_with(model: [article, article.comments.build]) do |form| %>
  <div class="mb-3">
    <!-- Commenter Field -->
    <%= form.label :commenter, "Name", class: "form-label" %>
    <%= form.text_field :commenter, class: "form-control" %>
  </div>

  <div class="mb-3">
    <!-- Comment Body Field -->
    <%= form.label :body, "Comment",class: "form-label" %>
    <%= form.text_area :body, class: "form-control", rows: 4 %>
  </div>

  <div>
    <!-- Submit Button -->
    <%= form.submit "Post Comment", class: "btn btn-primary" %>
  </div>
<% end %>
  